.products-display {
  border-radius: 4px;
  border: 1px solid lightgray;
  box-shadow: 0 11px 18px -8px rgba(0, 0, 0, 0.616);
  background-color: white;
  padding: 10px;
  display: flex;
  margin-bottom: 15px;
}

.img-display {
  width: 150px;
  height: 150px;
  border-right: 1px solid lightgray;
}

.info-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

.info-text {
  width: 120px;
  margin: auto;
}

.display-qty {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  width: 140px;
  margin-left: 9px;
}

.qty-btn {
  border: 1px solid lightgray;
  background-color: transparent;
  background-color: #FFC500;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  width: 35px;
  height: 35px;
  color: gray;
}

.qty-ind {
  margin: 0;
  align-self: center;
  border-bottom: 1px solid gray;
  font-size: 18px;
}

.skoll-chata-0 {
  width: 90px;
  height: 160px;
  padding-left: 35px;
  padding-right: 25px;
}
