.profile-hdr {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 640px;
}

.profile-container {
  background-color: #ffc500;
  border-radius: 15px;
  box-shadow: 0 11px 18px -8px rgba(0, 0, 0, 0.795);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 300px;
}

.profile-info {
  text-align: left;
  padding-left: 55px;
}