.top-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-size: cover;
  background-image: url('./beer-top-icon.png');
  position: absolute;
  left: 5px;
  top: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  background-color:rgba(0, 0, 0, 0.836);
  color: white;
  width: 360px;
}

.side-menu-container {
  width: 176.5px; 
  height: 580px; 
  background-color: rgba(0, 0, 0, 0.836); 
  position: fixed;
}

.buttons {
  border: none; 
  background-color: transparent; 
  border-bottom: 1px solid gray;
  color: orange;
  font-weight: 500;
  font-size: 17px;
  width: 165px;
  padding-left: 20px;
}

.side-btns-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}